a span {
  color: rgba(255, 255, 255, 0.5);
}

a:hover span {
  color: white !important;
}

.active-link {
  background-color: rgba(255, 255, 255, 0.1);
  color: white !important;
}

.active-link span {
  color: white !important;
}

// mat-icon {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
